.content h1 {
    font-size: 3rem;
}

.example-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.img-preview {
    display: none;
    position: fixed;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.img-preview .img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}